/* ========= Common Css Start ========= */

*, .row, .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11  {
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans";
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    background: #FBFBFB;
}

h2 {
    color: #FF724C;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

/* ========= Common Css End ========= */

/* ========= Navbar Start ========= */

.navbar {
    padding-top: 80px;
    margin-bottom: 56px;
}

.navbar .navbar-brand img {
    width: 184.483px;
    height: 46.86px;
}

.navbar .nav-item .nav-link {
    padding: 0 28px;
    margin-top: 15px;
}

.navbar .nav-item a {
    color: #1E1E1E;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar .cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .cart i {
    background: linear-gradient(270deg, #FF5A2F -2.47%, #FF6C44 103.28%);
    border: 1px solid #FF5A2F;
    border-radius: 15px;
    padding: 15px 27px;
    color: #fff;
    font-size: 30px;
    transition: all linear 0.4s;
}

.navbar .cart i:hover {
    background: transparent;
    color: #FF5A2F;
}

/* ========= Navbar End ========= */

/* ========= Banner Start ========= */

#banner {
    padding: 46px 0 90px 0;
}

#banner .container .left h1 {
    width: 575.206px;
    color: #1E1E1E;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}

#banner .container .left p {
    width: 467px;
    color: #2A2C41;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 45px;
}

#banner .container .left a {
    border-radius: 15px;
    background: #FF5A2F;
    color: #FBFBFB;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 18px 48px;
    border: 1px solid #FF5A2F;
    transition: all 0.4s linear;
}

#banner .container .left a:hover {
    background: transparent;
    color: #FF5A2F;
}

#banner .container .right .image {
    -webkit-box-shadow: 0px 0px 300px -102px rgba(255,90,47,1);
    -moz-box-shadow: 0px 0px 300px -102px rgba(255,90,47,1);
    box-shadow: 0px 0px 300px -102px rgba(255,90,47,1);
    width: 429.426px;
    height: 436.361px;
    background: url("../images/mockup-graphics-Dhs0h7LdlN4-unsplash.jpg");
    border-radius: 50%;
    /* object-fit: cover; */
    /* overflow: hidden; */
    background-position: 53.5% 45%;
    background-size: 147%;
}

/* ========= Banner End ========= */

/* ========= About Start ========= */

#about {
    padding: 78px 0 150px 0;
}

#about .container .left .left-a {
    column-gap: 20px;
    align-items: center;
}

#about .container .left .left-b {
    border-radius: 25px;
    background: #D9D9D9;
    width: 348px;
    height: 440px;
}

#about .container .left .left-c {
    row-gap: 20px;
}

#about .container .left .left-d {
    border-radius: 25px;
    background: #D9D9D9;
    width: 241px;
    height: 202px;
}

#about .container .left .left-e {
    border-radius: 25px;
    background: #D9D9D9;
    width: 201px;
    height: 320px;
}

#about .container .right h3 {
    max-width: 516px;
    color: #1E1E1E;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.62px;
    margin-bottom: 30px;
}

#about .container .right p {
    max-width: 404px;
    color: #2A2C41;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 45px;
}

#about .container .right a {
    border-radius: 15px;
    background: #FF5A2F;
    color: #FBFBFB;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 18px 48px;
    border: 1px solid #FF5A2F;
    transition: all 0.4s linear;
}

#about .container .right a:hover {
    background: transparent;
    color: #FF5A2F;
}

/* ========= About End ========= */

/* ========= Recommendations Start =========  */

#recommend {
    background: #FFF8F6;
    padding: 120px 0;
}

#recommend .container .heading {
    margin-bottom: 60px;
}

#recommend .container .heading h3 {
    color: #1E1E1E;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.62px;
}

#recommend .container .card-box .card {
    width: 346px;
    height: 487px;
    border: 0px;
    border-radius: 25px;
    background: #FFF;
    padding: 54px 0 34px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

#recommend .container .card-box .card .image {
    width: 192.308px;
    height: 195.414px;
    background: #D9D9D9;
    border-radius: 50%;
}

#recommend .container .card-box .card .txt {
    text-align: center;
}

#recommend .container .card-box .card .txt h6 {
    color: #2A2C41;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 26px;
}

#recommend .container .card-box .card .txt p {
    color: #2A2C41;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

#recommend .container .card-box .card .txt span {
    color: #FF6840;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ========= Recommendations End ========= */

/* ========= Services Start ========= */

#services {
    padding: 150px 0;
}

#services .container .heading h3 {
    width: 602px;
    color: #1E1E1E;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.7px;
    margin-bottom: 60px;
}

#services .container .card img {
    width: 74.323px;
    height: 72.559px;
}

#services .container .container .card img:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(51deg) brightness(107%) contrast(101%);
}


#services .container .card {
    width: 160px;
    height: 180px;
    border: 0;
    border-radius: 25px;
    background: #FFF;
    margin: 0 auto;
}

#services .container .card.active {
    background: linear-gradient(270deg, #FF5A2F -2.47%, #FF6C44 103.28%);
    box-shadow: 0px 30px 50px 0px rgba(107, 107, 107, 0.25);
}

#services .container .card-box p {
    margin: 25px 24px;
    color: #2A2C41;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ========= Services End ========= */

.term {
    margin-top: 150px;
}

#services .container .heading-2 h3 {
    color: #1E1E1E;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.7px;
    margin-bottom: 60px;
}

#services .term .t-card .card-box-2 {
    width: 346px;
    height: 397px;
    border-radius: 25px;
    background: #D9D9D9;
    position: relative;
}

#services .term .t-card .card-box-2 .txt-box {
    border-radius: 0px 0px 25px 25px;
    background: #FFF;
    width: 346px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#services .term .t-card .card-box-2 .txt-box p {
    color: #2A2C41;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 39px 75px;
}

/* ========= Download Start ========= */

#download .container .text h3 {
    width: 522px;
    color: #1E1E1E;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.7px;
    margin: 25px 0 30px 0;
}

#download .container .text p {
    width: 522px;
    color: #2A2C41;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 45px;
}

#download .container .text .btn-1 a {
    border-radius: 15px;
    background: #FF5A2F;
    color: #FBFBFB;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 18px 48px;
    border: 1px solid #FF5A2F;
    transition: all 0.4s linear;
}

#download .container .text .btn-1 a:hover {
    background: transparent;
    color: #FF5A2F;
}

#download .container .text .btn-1 {
    column-gap: 25px;
}









/* ========= Download End =========  */